@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --font-family: Vazirmatn
}

html,
body {
   margin: 0;
   padding: 0;
   font-family: var(--font-family);
   background-color: rgb(var(--color-bg));
   color: rgb(var(--color-text-base));
}

.Toastify,
.Toastify__toast-body {
   direction: rtl;
   font-family: var(--font-family);
}