@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --font-family: Vazirmatn
}

html,
body {
   margin: 0;
   padding: 0;
   font-family: var(--font-family);
   background-color: rgb(var(--color-bg));
   color: rgb(var(--color-text-base));
}

.Toastify,
.Toastify__toast-body {
   direction: rtl;
   font-family: var(--font-family);
}

/* Add this to your global CSS file or component-specific CSS module */

.horizontal-slider {
   width: 100%;
   height: 10px;
   display: flex;
   align-items: center;
}

.thumb {
   height: 24px;
   width: 24px;
   background-color: #4a90e2;
   border-radius: 50%;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-size: 12px;
}

.track {
   background: #ddd;
   height: 5px;
   border-radius: 5px;
}

.track-1 {
   background: #296cfd;
   height: 5px;
   border-radius: 5px;
}