@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --font-family: Vazirmatn;
   --theme-color: #FF510C;
}

html,
body {
   margin: 0;
   padding: 0;
   font-family: var(--font-family);
   background-color: rgb(var(--color-bg));
   color: rgb(var(--color-text-base));
}

/* Scroll Bar Start */
/* width */
::-webkit-scrollbar {
   width: 10px;
   height: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   @apply bg-theme-color;
   border-radius: 5px;
}

/* Track */
/* ::-webkit-scrollbar-track {
   background: #fff;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
   @apply bg-theme-color/80;
} */

/* Scroll Bar End */

.Toastify,
.Toastify__toast-body {
   direction: rtl;
   font-family: var(--font-family);
}

/* Add this to your global CSS file or component-specific CSS module */

.horizontal-slider {
   width: 100%;
   height: 10px;
   display: flex;
   align-items: center;
}

.thumb {
   height: 24px;
   width: 24px;
   background-color: #ff5e1f;
   border-radius: 50%;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-size: 12px;
}

.track {
   background: #ddd;
   height: 5px;
   border-radius: 5px;
}

.track-1 {
   background: var(--theme-color);
   height: 5px;
   border-radius: 5px;
}

.swiper-button-prev,
.swiper-button-next {
   @apply bg-white rounded-full p-[22px] shadow-md hover:bg-theme-color hover:text-white duration-300 cursor-pointer
}

.swiper-rtl .swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
   @apply text-[16px] font-bold
}

/* 
.swiperCustom {
   --swiper-navigation-color: var(--theme-color);
   --swiper-navigation-size: 33px;
} */