@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --font-family: Vazirmatn;
   --theme-color: #FF510C;
}

html,
body {
   margin: 0;
   padding: 0;
   font-family: var(--font-family);
   background-color: rgb(var(--color-bg));
   color: rgb(var(--color-text-base));
}

/* Scroll Bar Start */
@media (min-width: 768px) {

   /* width */
   ::-webkit-scrollbar {
      width: 10px;
      height: 0px;
   }

   /* Handle */
   ::-webkit-scrollbar-thumb {
      @apply bg-theme-color;
      border-radius: 5px;
   }
}

/* Track */
/* ::-webkit-scrollbar-track {
   background: #fff;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
   @apply bg-theme-color/80;
} */

/* Scroll Bar End */

.Toastify,
.Toastify__toast-body {
   direction: rtl;
   font-family: var(--font-family);
}

/* Add this to your global CSS file or component-specific CSS module */

.horizontal-slider {
   width: 100%;
   height: 10px;
   display: flex;
   align-items: center;
}

.thumb {
   height: 24px;
   width: 24px;
   background-color: #ff5e1f;
   border-radius: 50%;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-size: 12px;
}

.track {
   background: #ddd;
   height: 5px;
   border-radius: 5px;
}

.track-1 {
   background: var(--theme-color);
   height: 5px;
   border-radius: 5px;
}

.swiper-button-prev,
.swiper-button-next {
   @apply bg-white rounded-full p-[22px] shadow-md hover:bg-theme-color hover:text-white duration-300 cursor-pointer
}

.swiper-rtl .swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
   @apply text-[16px] font-bold
}

/* 
.swiperCustom {
   --swiper-navigation-color: var(--theme-color);
   --swiper-navigation-size: 33px;
} */


/* Customize NProgress */
#nprogress {
   pointer-events: none;
}

#nprogress .bar {
   background: var(--theme-color);
   /* Progress bar color */
   position: fixed;
   z-index: 1031;
   top: 0;
   left: 0;
   width: 100%;
   height: 3px;
   /* Height of the progress bar */
}

#nprogress .peg {
   display: block;
   position: absolute;
   right: 0px;
   width: 100px;
   height: 100%;
   box-shadow: 0 0 10px var(--theme-color), 0 0 5px var(--theme-color);
   /* Glow effect */
   opacity: 1.0;
   transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
   display: none;
   /* Disable spinner, only show the bar */
}



/* Customize react-image-gallery */

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus {
   @apply !border-4 !border-theme-color duration-200 rounded-xl;
}

.image-gallery-thumbnail {
   @apply !transition-all ease-out;
}

.image-gallery-thumbnails-container {
   @apply space-x-3
}

.image-gallery-thumbnail-inner,
.image-gallery-thumbnail-image {
   @apply rounded-lg;
}

.image-gallery-icon:hover {
   @apply !text-theme-color;
}

.image-gallery-slides {
   @apply rounded-xl border shadow-lg shadow-black/25 mb-6 lg:mb-14;
}